html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../images/login/login_background.jfif") no-repeat center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}

a {
  text-decoration: none;
}

/* logo */
.logo {
  float: left;
  margin: 40px 0 0 60px;
  width: 100%;
}
.logo img {
  width: 240px;
}

.transform_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 登录界面 */
.login_page {
  width: 488px;
  height: 568px;
  background: url(../images/login/login_box.png) no-repeat;
}

/* 注册界面 */
.register_page {
  width: 488px;
  height: 568px;
  background: url(../images/login/login_box.png) no-repeat;
}

/* 登录标题 */
#login_page_title {
  color: rgb(235, 227, 213);
  height: 114px;
  line-height: 114px;
  background-repeat: no-repeat;
  background-position: left left;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  float: left;
  margin-left: 275px;
}

#register_page_title {
  color: rgb(235, 227, 213);
  height: 114px;
  line-height: 114px;
  background-repeat: no-repeat;
  background-position: left left;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  float: left;
  margin-left: 275px;
}

/* 分界线 */
.clear {
  clear: both;
}

.yhdl-dl {
  width: 351px;
  height: 427px;
  margin: auto;
  position: relative;
}

.Pad_Top {
  padding-top: 0.1px;
}

.xy {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  right: -160px;
}

.hide {
  display: none;
}

/* 用户登录标题 */
#user_login_title {
  color: rgb(65, 67, 66);
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 32px;
  font-weight: bold;
}

/* 用户注册标题 */

#user_register_title {
  color: rgb(65, 67, 66);
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 32px;
  font-weight: bold;
}

/* 用户登录标题的下划线 */
.user_login_bottom_line {
  width: 47px;
  height: 2px;
  background-color: #9c199a; /*南大紫*/
  /* margin: 12px auto 4px; */
  margin: 8px auto 4px;
}

#message {
  color: red;
  font-size: 12px;
  position: absolute;
  z-index: 100;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

/* 第一个登录box，用于填写用户名 */
.login_box01 {
  background: url(../images/login/username.png) no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 351px;
  height: 49px;
  margin-top: 32px;
  font-size: 0;
  text-align: left;
}

/* 第二个登录box，用于填写密码 */
.login_box02 {
  background: url(../images/login/password.png) no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 351px;
  height: 49px;
  margin-top: 20px;
}

/* 第一个注册box，用于填写用户名 */
.register_box01 {
  background: url(../images/login/username.png) no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 351px;
  height: 49px;
  margin-top: 32px;
  font-size: 0;
  text-align: left;
}

/* 第二个注册box，用于填写密码 */
.register_box02 {
  background: url(../images/login/password.png) no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 351px;
  height: 49px;
  margin-top: 20px;
}

/* 第三个登录box，用于填写验证码 */
.login_box03 {
  background: url(../images/login/password.png) no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 351;
  height: 49px;
  margin-top: 20px;
}

/* 登陆界面：用户名输入框 */
#login_username {
  font-size: 16px;
}

/* 注册界面：用户名输入框 */
#register_username {
  font-size: 16px;
}

/* 用户名输入框 */
.username_input {
  border-color: initial;
  outline-color: initial;
  color: rgb(65, 67, 66);
  background-image: none;
  background-color: initial;
  width: 146px;
  height: 49px;
  border: none;
  line-height: 49px;
  vertical-align: middle;
  margin-top: 0px;
  margin-left: 40px;
  outline: 0;
  background: none;
}

/* 登陆界面：用户密码 */
#login_user_password {
  font-size: 16px;
}

/* 注册界面：用户密码 */
#regitser_user_password {
  font-size: 16px;
}

#regitser_user_repassword {
  font-size: 16px;
}

/* 用户密码输入框 */
.user_password_input {
  background-image: none;
  background-color: initial;
  border-color: initial;
  outline-color: initial;
  color: rgb(65, 67, 66);
  width: 311px;
  height: 49px;
  line-height: 49px;
  background: none;
  border: none;
  font-size: 16px;
  outline: 0;
  margin-top: 0px;
  margin-left: 40px;
}

/* 登陆界面：验证码 */
#login_captcha {
  font-size: 16px;
}

/* 验证码输入框 */
.captcha_input {
  color: rgb(65, 67, 66);
  width: 146px;
  height: 49px;
  border: none;
  line-height: 49px;
  vertical-align: middle;
  margin-top: 0px;
  margin-left: 40px;
  outline: 0;
  float: left;
}

/* 验证码图片 */
#captcha_img {
  color: rgb(65, 67, 66);
  width: 150px;
  height: 50px;
  border: none;
  line-height: 49px;
  vertical-align: middle;
  outline: 0;
  float: right;
}

/* 警告声明 */
.warning {
  color: rgb(104, 108, 106);
  font-size: 14px;
  margin-top: 20px;
  line-height: 14px;
}

/* 点击登录 */
.click_login {
  margin-top: 20px;
}

/* 点击注册 */
.click_register {
  margin-top: 20px;
}

/* 登录按钮 */
#login_button {
  font-size: 20px;
  border: none;
  width: 351px;
  height: 49px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  color: rgb(235, 227, 213);
  background-position: left -120;
  background-color: rgb(126, 69, 117);
  border-radius: 5px;
  outline: 0;
  line-height: 49px;
}

/* 注册按钮 */
#register_button {
  font-size: 20px;
  border: none;
  width: 351px;
  height: 49px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  color: rgb(235, 227, 213);
  background-position: left -120;
  background-color: rgb(126, 69, 117);
  border-radius: 5px;
  outline: 0;
  line-height: 49px;
}

/* 尾注 */
.endnote {
  margin-top: 12px;
  float: left;
  width: 100%;
}

/* 忘记密码 */
#forget_password {
  color: rgb(26, 27, 26);
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  float: left;
}

/* 常见问题 */
#normal_question {
  color: rgb(26, 27, 26);
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  float: left;
}

/* 跳转至注册界面 */
#link_register_page {
  color: rgb(26, 27, 26);
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  float: right;
}

/* 跳转至登陆界面 */
#link_login_page {
  color: rgb(26, 27, 26);
  font-size: 14px;
  line-height: 14px;
  margin-right: 10px;
  float: right;
}

.links {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.layui-form-item {
  position: relative;
}

.layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
